python-dotenv
fastapi
uvicorn[standard]
httpx
pinecone
numpy==1.26.4
loguru
firecrawl-py
pydantic
anthropic
openai
PyJWT
Flask
gunicorn
redis
av
pdfminer.six
pytesseract
pillow
scikit-learn
beautifulsoup4
cachetools
cryptography
litellm

